<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_Key</key>
	<string>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</string>
</dict>
</plist>
