<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_Key</key>
	<string>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</string>
</dict>
</plist>
